{% extends 'partials/body.html' %} {% load crispy_forms_tags %} {% load crispy_forms_field %}
{% load static %} {% block content %}
<head>
   <script> src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"</script>
   <script src="{% static 'js/listas_desplegables.js' %}"></script>
</head>
<div class="row">
  <div class="m-auto col-sm-12 col-md-6 col-lg-4">
    <div class="card p-3">
      <div class="card-body">
        <h3>Información de software</h3>
      </div>
      {% for item in consulta %}
      <p>Marca. {{item.marca}}</p>
      <p>Activo No. {{item.serie}}</p>
      {% endfor %}
      <div class="card-text">
        <form method="POST" role="form" id="form">
          {% csrf_token %}
          {{form | crispy}}
          <button class="btn btn-success" type="submit">Guardar</button>
          <a href="{% url 'listado_activos' %}" class="btn btn-danger">
            Volver
          </a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% include 'partials/footer.html' %}
