{% load static %}
{% load crispy_forms_tags %}

<html>
  <header>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <title>Hoja de vida Activo</title>
  </header>
  <body>
    <div class="container ">
      <div class="row col-12">
        <div class="header">
          <img
            src="http://127.0.0.1:8000{% static 'img/logo nuevo 2022.png' %}"
          />
          <img
             src="http://127.0.0.1:8000{% static 'img/Escudo.png' %}"
          />
        </div>
        <br/>
        <br/>
        <h1 class="text-center">Activo Hardware</h1>
        <table class="table my-3 table-responsive">
          <thead>
              <p>{{activo.activo_id}}</p>
              <th>
                <tr>
                    <th>tarjeta madre</th>
                    <th>fuente poder</th>
                    <th>disco duro 1</th>
                    <th>disco duro 2</th>
                    <th>memoria ram slot 1</th>
                    <th>memoria ram slot 2</th>
                    <th>tarjeta video</th>
                    <th>monitor</th>
                    <th>mouse</th>
                    <th>teclado</th>
                </tr>
              </th>
              <th>
                {% for form in informacion_hardware %}
                <tr>
                  <th>modelo</th>
                  <td>
                    {{ form.tarjeta_madre_modelo }}</td>
                  <td>
                    {{ form.fuente_poder_modelo }}
                  </td>
                  <td>
                  {{ form.procesador_modelo }}
                  </td>
                  <td>
                  {{ form.disco_duro_1_modelo }}
                  </td>
                  <td>
                  {{ form.disco_duro_2_modelo }}
                  </td>
                  <td>
                  {{ form.ram_slot_1_modelo }}
                  </td>
                  <td>
                  {{ form.ram_slot_2_modelo }}
                  </td>
                  <td>
                  {{ form.tarjeta_video_modelo }}
                  </td>
                  <td>
                  {{ form.monitor_modelo }}
                  </td>
                  <td>
                  {{ form.mouse_modelo }}
                  </td>
                  <td>
                    {{ form.teclado_modelo }}
                  </td>
                </tr>
                <tr>
                  <th>marca</th>
                    <td>
                      {{ form.tarjeta_madre_marca }}</td>
                    <td>
                      {{ form.fuente_poder_marca }}
                    </td>
                    <td>
                    {{ form.procesador_marca }}
                    </td>
                    <td>
                    {{ form.disco_duro_1_marca }}
                    </td>
                    <td>
                    {{ form.disco_duro_2_marca }}
                    </td>
                    <td>
                    {{ form.ram_slot_1_marca }}
                    </td>
                    <td>
                    {{ form.ram_slot_2_marca }}
                    </td>
                    <td>
                    {{ form.tarjeta_video_marca }}
                    </td>
                    <td>
                    {{ form.monitor_marca }}
                    </td>
                    <td>
                    {{ form.mouse_marca }}
                    </td>
                    <td>
                      {{ form.teclado_marca }}
                    </td>
                  </tr>
                <tr>
                  <th >serie</th>
                  <td>
                    {{ form.tarjeta_madre_serie }}</td>
                  <td>
                    {{ form.fuente_poder_serie }}
                  </td>
                  <td>
                  {{ form.procesador_serie }}
                  </td>
                  <td>
                  {{ form.disco_duro_1_serie }}
                  </td>
                  <td>
                  {{ form.disco_duro_2_serie }}
                  </td>
                  <td>
                  {{ form.ram_slot_1_serie }}
                  </td>
                  <td>
                  {{ form.ram_slot_2_serie }}
                  </td>
                  <td>
                  {{ form.tarjeta_video_serie }}
                  </td>
                  <td>
                  {{ form.monitor_serie }}
                  </td>
                  <td>
                  {{ form.mouse_serie }}
                  </td>
                  <td>
                    {{ form.teclado_serie }}
                  </td>
                </tr>
                <tr>
                  <th> no aplica</th>
                  <td>
                    {{ form.tarjeta_madre_no_aplica }}</td>
                  <td>
                    {{ form.fuente_poder_no_aplica }}
                  </td>
                  <td>
                  {{ form.procesador_no_aplica }}
                  </td>
                  <td>
                  {{ form.disco_duro_1_no_aplica }}
                  </td>
                  <td>
                  {{ form.disco_duro_2_no_aplica }}
                  </td>
                  <td>
                  {{ form.ram_slot_1_no_aplica }}
                  </td>
                  <td>        
                  {{ form.ram_slot_2_no_aplica }}
                  </td>
                  <td>
                  {{ form.tarjeta_video_no_aplica }}
                  </td>
                  <td>
                  {{ form.monitor_no_aplica }}
                  </td>
                  <td>
                  {{ form.mouse_no_aplica }}
                  </td>
                  <td>
                    {{ form.teclado_no_aplica }}
                  </td>
                </tr>
              </th>
            {% endfor %}
          </thead>
      </table>
      <br><br>
        <h1>Activo Software</h1>
        <br><br>
        <table class="table my-3 table-responsive">
          <p>{{activo.estado_software}}</p>
            <th>
                <tr>
                    <th>sistema operativo</th>
                    <th>version sistema op</th>
                    <th>ofimatica</th>
                    <th>version ofimatica</th>
                    <th>antivirus</th>
                    <th>navegador 1</th>
                    <th>navegador 2</th>
                    <th>herramienta cloud</th>
                </tr>
            </th> 
            <tbody>
              {% for item_sistema in version_sistema_op %}
              <tr>
                <td>{{item_sistema.sistema_operativo}}</td>
                <td>{{item_sistema.version_sistema}}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              {% endfor %}
    
              {% for item_ofimatica in version_ofimatica %}
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{item_ofimatica.paquete}}</td>
                <td>{{item_ofimatica.version}}</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
              {% endfor %}
              {% for item_antivirus in antivirus %}
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{item_antivirus.antivirus}}</td>
                <td>-</td>
                <td>-</td>
              </tr>
              {% endfor %}
              {% for item_navegador in navegador %}
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{item_navegador.navegador}}</td>
                <td>{{item_navegador.navegador}}</td>
                <td>-</td>
              </tr>
              {% endfor %}
    
              {% for item_cloud in cloud %}
              <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{item_cloud.herramienta}}</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>
      </div>
    </div>
  </body>
</html>
