{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
        @media (max-width: 724px) {
    h1{
        font-size: 15px;
       text-align: center;
    }
    p{
        font-size: 13px;
    }
    .form-label{
        font-size: 13px;
    }
    }    
   

</style>

<h1>Formulario de hardware</h1>
{% for item in consulta %}
    <p>Marca. {{item.marca}}</p>  
    <p>Activo No. {{item.serie}}</p> 

{% endfor %}
<form method="POST" style="width: 100%;">
    {% csrf_token %}
    <div class="container border ">
    <div class="row">
        <table class="table table-responsive">
            <div class="col-md-6 col-sm-6">
            <tr>
                <td>{{ form.tarjeta_madre_marca | as_crispy_field }}</td>
                <td>{{ form.fuente_poder_marca | as_crispy_field }}</td>
                <td>{{ form.procesador_marca | as_crispy_field }}</td>
                <td>{{ form.disco_duro_1_marca | as_crispy_field }}</td>
                <td>{{ form.disco_duro_2_marca | as_crispy_field }}</td>
                <td>{{ form.ram_slot_1_marca | as_crispy_field }}</td>
                <td>{{ form.ram_slot_2_marca | as_crispy_field }}</td>
                <td>{{ form.tarjeta_video_marca | as_crispy_field }}</td>
                <td>{{ form.monitor_marca | as_crispy_field }}</td>
                <td>{{ form.mouse_marca | as_crispy_field }}</td>
                <td>{{ form.teclado_marca | as_crispy_field }}</td>
            </tr>
            <tr>
                <td>{{ form.tarjeta_madre_modelo | as_crispy_field }}</td>
                <td>{{ form.fuente_poder_modelo | as_crispy_field }}</td>
                <td>{{ form.procesador_modelo | as_crispy_field }}</td>
                <td>{{ form.disco_duro_1_modelo | as_crispy_field }}
                <td>{{ form.disco_duro_2_modelo | as_crispy_field }}</td>             
                <td>{{ form.ram_slot_1_modelo | as_crispy_field }}</td>
                <td>{{ form.ram_slot_2_modelo | as_crispy_field }}</td>
                <td>{{ form.tarjeta_video_modelo | as_crispy_field }}</td>
                <td>{{ form.monitor_modelo | as_crispy_field }}</td>
                <td>{{ form.mouse_modelo | as_crispy_field }}</td>
                <td>{{ form.teclado_modelo | as_crispy_field}} </td>
            </tr>
        </div>
        <div class="col-md-6 col-sm-6">
            <tr>
                <td>{{ form.tarjeta_madre_serie | as_crispy_field }}</td>
                <td>{{ form.fuente_poder_serie | as_crispy_field }}</td>
                <td>{{ form.procesador_serie | as_crispy_field }}</td>
                <td>{{ form.monitor_serie | as_crispy_field }} </td>
                <td>{{ form.mouse_serie | as_crispy_field }} </td>
                <td>{{ form.teclado_serie | as_crispy_field }} </td>
                <td>{{ form.fuente_poder_capacidad | as_crispy_field }} </td>
                <td>{{ form.disco_duro_1_capacidad | as_crispy_field }} </td>
                <td>{{ form.disco_duro_2_capacidad | as_crispy_field }} </td>
                <td>{{ form.ram_slot_1_capacidad | as_crispy_field }}</td>
                <td>{{ form.ram_slot_2_capacidad | as_crispy_field }}</td>
                <td>{{ form.tarjeta_video_capacidad | as_crispy_field }}</td>
        </tr>
            <tr>
                <td>{{ form.tarjeta_madre_no_aplica | as_crispy_field }}</td>
                <td>{{ form.fuente_poder_no_aplica | as_crispy_field }}</td>
                <td>{{ form.procesador_no_aplica |  as_crispy_field }}</td>
                <td>{{ form.disco_duro_1_no_aplica | as_crispy_field }}</td>
                <td>{{ form.disco_duro_2_no_aplica | as_crispy_field }}</td>
                <td>{{ form.ram_slot_1_no_aplica | as_crispy_field }}</td>
                <td>{{ form.ram_slot_2_no_aplica | as_crispy_field }}</td>
                <td>{{ form.tarjeta_video_no_aplica | as_crispy_field }}</td>
                <td>{{ form.monitor_no_aplica | as_crispy_field }}</td>
                <td>{{ form.mouse_no_aplica | as_crispy_field }}</td>
                <td>{{ form.teclado_no_aplica | as_crispy_field }}</td>
            </tr>
        </div>
</table>
<script src="{% static 'js/active_deactivate_input.js' %}"> </script>
</div>
    <button type="submit" class="my-2 btn btn-success">Guardar</button>
    <a href="{% url 'listado_activos' %}" class="my-2 btn btn-danger">Volver</a>
</form>
{% endblock %}  


{% include 'partials/footer.html' %}
