

<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formato Activo PDF</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/static/css/Responsive-2.4.1/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs5/2.4.1/buttons.bootstrap5.min.js" integrity="sha512-wM9b/XtIOHJMJy0P7RFhcNKaFLspIg8EWGmwfYdc6B/YJp6scoZZ5Hdq29rRxxf+DCiQbfEQ5MT/HLBFcZ6hSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />            
    <link rel="text/html" href="/activos_fijos/static/css/style_table_software_hardware.css">
</head>
<body>

    <img class="img-fluid" src="{% static 'img/logo nuevo 2022.png' %}" alt="logo" style="width:120px;">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center table-responsive mt-5">
                    <h2 class="text-center">Software<i class="fa-solid fa-code" style="color: #030303;"></i></h2>
                </div>
            </div>
        </div>
    </div>

    <table id="registro" class="vh-50 display d-flex justify-content-center compact table-bordered border-secondary-subtled mx-auto mt-4"
        style="width:80%">
        <thead class="table_header">
            <tr class="table_row" >
                <th>Sistema Operativo</th>
                <th>Version Sistema Operativo</th>
                <th>Ofimatica</th>
                <th>Version Ofimatica</th>
                <th>Antivirus</th>
                <th>Navegador</th>
                <th>Navegador2</th>
                <th>Herramientas Cloud</th>
                <th>modelo</th>
                <th>capacidad</th>
                <th>no aplica</th>
            </tr>
        </thead>
        <tbody>
            {% for info_s in info_software %}
            <tr colspan="3" class="table_row m-5">
                <td>{{ info_s.sistema_operativo.nombre_sistema }}</td>
                <td>{{ info_s.version_sistema_op.version_sistema }}</td>
                <td>{{ info_s.ofimatica.paquete_ofimatica }}</td>
                <td>{{ info_s.version_ofimatica.version }}</td>
                <td>{{ info_s.antivirus.antivirus }}</td>
                <td>{{ info_s.navegador_1.navegador }}</td>
                <td>{{ info_s.navegador_2.navegador }}</td>
                <td>{{ info_s.herramienta_cloud.herramienta }}</td>
                <td>{{ info_s.id_activo.estado_software }}</td>
                <td>{{ info_s.usuario_registro.nombres }}</td>
            </tr> 
            {% endfor %}  
            </tbody>
        </table>
       <!-- <h2 class="text-center">Hardware<i class="fa-solid fa-computer" style="color: #0a0a0a;"></i></h2>

            <table id="registro" class="vh-50 display compact table-bordered border-secondary-subtled mx-auto mt-4"
            style="width: 100%">
            <thead class="table_header">
                <tr class="table_row" >
                    <th>Componente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    <th>no aplica</h>
            </thead>
            {% for info_h in info_hardware %}
            <tbody>
                <tr class="table_row">
                    <td>{{ info_h.tarjeta_madre_marca }}</td>
                    <td>{{ info_h.tarjeta_madre_modelo }}</td>
                    <td>{{ info_h.tarjeta_madre_serie }}</td>
                    <td>{{ info_h.tarjeta_madre_no_aplica }}</td>
                    <td><input type="checkbox">{{ info_h.tarjeta_madre_no_aplica }}</input></td>
                </tr>
                </tbody>
            {% endfor %}
            </table>
        -->
        <script src="/static/js/datatables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.4.1/js/buttons.html5.min.js" integrity="sha512-RvfP4FGRLhK9ZZjvGrGibZOC1r5jBhKTZMFUKGOv6r3tUP/mTPS7gyPl9t4LB+spY14tjUeAxOsYMBvNT2ayOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs4/2.4.1/buttons.bootstrap4.min.js" integrity="sha512-3EwIu+jBDO50pkMj6k/pqHekyr/iGJZ54pq5zCMNfVKd7bA/63igQWUqQItKVUMGrAfQz9yVjWj+HQFV8TRlNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="/static/js/buttons.js"></script>
        <script href="/static/js/jquery.chained.min.js"></script>
    </body>

</html>