
/*change of background of the body of each page to color similiar to black*/
.dark-mode .bgnavbar {
  background: #333;
  color: #fff;}

.bgnavbar{
background: #fdfaf1;
}

.dark-mode .text-dark{
color: white;
}

.dark-mode .card{
background-color: #333;
}

/*JTABLE DARKMODE*/
.dark-mode .dataTables_info{
  color: white;
}

.dark-mode label{
  color: white;
}

.dark-mode .paginate_button{
  color: white;
}

.dark-mode h1{
  color: white;
}

.dark-mode b{
  color: white;
}
.dark-mode h2{
color: white;
}

.dark-mode h3{
  color: white;
}

#datos{
color: white;
}
 /*vista confirmacion cambio contraseña*/
.dark-mode #cambio_contraseña {
  background-color: #333 !important;

}

.dark-mode .form-label{
color: white;
}

.dark-mode .form{
background-color: #333;
}
.dark-mode i {
color: white;
}

.dark-mode .login-box-msg{
color: white;
}



/*spacing between the td of the table in view password_reset_form
Espaciamiento entre los data table de la tabla que esta en la vista password_reset_form*/

td {
padding: 1px,2px,1px,2px;
}

th{

padding: 1px,2px,1px,2px;

}



