{% load crispy_forms_tags %}

<div class="modal-dialog modal-lg" role ="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">
                Editar usuario
            </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'editar_usuario' usuario.id %}" method="POST">
                {% csrf_token %}
            {{form  | crispy}}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">
                Guardar
            </button>
        </form>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

