<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#usuarios').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                }
                ,
                "responsive": true
            }
            )
        });
    </script>

<script>
    $(document).ready(function() {
         $('#activos').DataTable( {
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                    },
                    'responsive': true
                } );
            } );
</script>
