{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-12">
            <table class="table table-responsive my-3">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Sistema Operativo</th>
                        <th colspan="2">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in sistemas_operativos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{item.nombre_sistema}}</td>
                        <td><a class="btn btn-primary"><i class="fa-solid fa-pen-to-square text-bg-primary" onclick="showSweetAlert('editar', 'agregar_sistema_operativo/{{ item.id }}')" title="Editar"></i><a></td>
                        <td><a class="btn btn-danger"><i class="fas fa-trash-alt" onclick="showSweetAlert('eliminar', 'eliminar_version_sistema_operativo/{{ item.id }}')" title="Eliminar"></i></a></td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
            <a href="{% url 'agregar_sistema_operativo' %}" class="btn btn-success">Agregar sistema operativo</a>
        </div>
        <div class="col-lg-6 col-md col-sm-12">
            <h2>Versiones sistemas operativos</h2>
            <table id="version_sistema" class="display table-responsive my-3 w-100"> 
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>versión Operativo</th>
                        <th>Sistema Operativo relacionado</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in versiones_sistemas_operativos %}
                    <tr>
                        <td>{{forloop.counter}}</td> 
                        <td>{{item.version_sistema}}</td>
                        <td>{{item.sistema_operativo}}</td>
                        <td><a class="btn btn-primary trigger-sweetalert" onclick="showSweetAlert('editar' , 'agregar_sistema_operativo/{{ item.id }} ')"><i class="fa-solid fa-pen-to-square text-bg-primary"></i><a>
                        <a  class="btn btn-danger trigger-sweetalert" onclick="showSweetAlert('eliminar' , 'eliminar_version_sistema_operativo/{{ item.id }} ')"><i class="fas fa-trash-alt"></i></a></td>
                        </td>
                        {% endfor %}  
              
                    </tr> 
                </tbody>
            </table>
            <a class="btn btn-success" onclick="showSweetAlert('agregar' , '../administrar_software/agregar_version_sistema_operativo/')">Agregar Versión operativo</a>
        </div>
       
    </div>
</div>

{% include 'partials/js.html' %}
{% endblock %}  


{% include 'partials/footer.html' %}
