{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card p-3 m-auto w-50">
    <div class="card-body">
        <h1>{{titulo_vista}}</h1>
    </div>
    <div class="card-text">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
        <button type="submit" class="btn btn-success" onclick="showSweetAlert('agregar' ,'../')">Guardar </button>
        <a class="btn btn-danger" onclick="showSweetAlert('eliminar' , '../')">Volver</a>
        </form>
    </div>
</div>
{% endblock %}  


{% include 'partials/footer.html' %}
