{% extends 'partials/body.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "{% static 'js/chartt.js' %}"></script>
    <title>panel_admin</title>
    <style>
       @media screen and (min-width: 320px) and (max-width: 375px) {
            h2{
                font-size: 15px
            }
       }
       @media screen and (min-width: 376px) and (max-width: 425px) {
            h2{
                font-size: 20px
            }
       }
       @media screen and (min-width: 426px) and (max-width: 768px) {
            h2{
                font-size: 1.5rem
            }
       }
    </style>
</head>

<body>
<div class="row">
    <div class="card-header col-12">
    </div>
    <div class="card-body d-flex flex-wrap col-sm-6 col-dm-5 col-lg-4">
        <h2 class="card-title text-center">Usuarios</h2>
        <canvas id="grafico_total" class="container"></canvas>
    </div>
    <div class="card-body d-flex flex-wrap col-sm-6 col-dm-5 col-lg-4">
        <h2 class="card-title text-center">Activos</h2>
        <canvas id="grafico_activos" class="container"></canvas>
    </div>
    <div class="card-body d-flex flex-wrap col-sm-6 col-dm-5 col-lg-4">
        <h2 class="card-title text-center">Software</h2>
        <canvas id="grafico_software" class="container"></canvas>
    </div>
    <div class="card-body d-flex flex-wrap col-sm-6 col-dm-5 col-lg-4">
        <h2 class="card-title text-center">Hardware</h2>
        <canvas id="grafico_hardware" class="container"></canvas>
    </div>
</div>
<script type="text/javascript">

var Json_data = {{ info_panel|safe }};

const usuarios = [];
const v_sistema_operativo = [];
const cantidad_software_hardware = [];

var ja = Nn; 
  const labels_activos = ["activos_totales","Activos","no_activos","is_staff"];
  const labels_usuarios = ["usuarios_totales","Activos","no_activos"];
  const labels_software = ["cantidad_total","activos","no_activos"];
  const labels_hardware_software = ["cantidad_total_activos_software","cantidad_total_activos_hardware"];

/*function pushDataToArray(data,array){
    for(var value in data){
        if (data.hasOwnProperty(value)){
            array.push(data[value])
            console.log(" array agregado ", data[value], " a el array " , array)
        }
    }
} este es un codigo que utilize para intentar refactorizar la parte de rellanar los datos de los diferentes array pero no pude
incorporarlo dentro de los if
*/

cantidad_elementos = 0
for(var value in Json_data)
{
        if (Json_data.hasOwnProperty(value)){
            if(cantidad_elementos <= 3){
              if (Json_data.hasOwnProperty(value)){
                usuarios.push(Json_data[value]) 
            }
            cantidad_elementos += 1
            }
            else if(cantidad_elementos > 3 && cantidad_elementos <= 6){
              if (Json_data.hasOwnProperty(value)){
                v_sistema_operativo.push(Json_data[value]) 
            }
            cantidad_elementos += 1
            }
            else if (cantidad_elementos > 6){
              if (Json_data.hasOwnProperty(value)){
                cantidad_software_hardware.push(Json_data[value]) 
            }
            cantidad_elementos += 1
            }
        }
    }


 
console.log('Usuarios array:', usuarios);
console.log('v_sistema_operativo array:', v_sistema_operativo);
console.log('Cantidad_Software_hardware array:', cantidad_software_hardware);




  
  
  var barColors = ["red","black","blue"];

  
  !(function () {
    const grafico_total = document.getElementById("grafico_total").getContext('2d');
    new ja(grafico_total, {
      type: "doughnut",
      data: {
        labels: labels_activos,
        datasets: [
          {
            data: usuarios,
            borderWidth: 1,
            borderColor: "#36A2EB",
            backgroundColor: barColors,
          },
        ],
      },
      options: {
        responsive:true
      }
    });
    
    const grafico_activos = document.getElementById("grafico_activos").getContext('2d');
    new ja(grafico_activos, {
      type: "bar",
      data: {
        labels: labels_activos,
        datasets: [
          {
            label: "Activos/Desactivos",
            data: v_sistema_operativo,
            pointRadius:1,
            borderColor: "#36A2EB",
            backgroundColor: barColors,
          },
        ],
      },
      options: {
        responsive:true
      }
    });
    const grafico_software = document.getElementById("grafico_software").getContext('2d');
    new ja(grafico_software, {
      type: "radar",
      data: {
        labels: labels_software,
        datasets: [
          {
            label: "Activo/Desactivo/Cantidad_total",
            data: cantidad_software_hardware,
            borderWidth: 1,
            borderColor: "#36A2EB",
            backgroundColor: barColors,
          },
        ],
      },
      options: {
        elements: {
          line: {
            borderWidth: 3
          }
        },
        responsive: true
      },
    });
    const grafico_hardware = document.getElementById("grafico_hardware").getContext('2d');
    new ja(grafico_hardware, {
      type: "polarArea",
      data: {
        labels: labels_hardware_software,
        datasets: [
          {
            label: "Categorizacion",
            data: cantidad_software_hardware,
            borderWidth: 1,
            fill: false,
            pointRadius:1,
            borderColor: "#36A2EB",
            backgroundColor: barColors,
          },
        ],
      },
      options: {
        responsive:true
      }
    });
  })(); 
</script>
</body>
</html>
{% endblock %}