
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{% static 'js/showPassword.js' %}"></script>
</head>

{% include 'partials/header.html' %}
<div class="row justify-content-center" id="cambio_contraseña">
  <div class="card text-center W-25 mt-5">
    <div class="row">
    <div class="card card-outline col-12 col-md-6 w-25 m-auto card-primary">
      <div class="card-header text-center">
        <h1><b>Cambiar contraseña</b></h1>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Estas a punto de cambiar la contraseña, ingresa nueva contraseña.</p>
      <form action="{% url 'login' %}" method="Post">
        {% csrf_token %}
        {% if validlink %}
        {% if request.method == "POST" %}
                <p> la contrasena es igual a el mensaje de {{request.POST}}</p>
        {% endif %}
          <div class="input-group row mb-3">
            <!--<div class="col-sm-12">
            <i class="fa-sharp fa-solid fa-lock pt-3"></i>
            <input type="password" class="form-control ms-3 new_password1" placeholder="ingresa una nueva contrasena">
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="col-sm-12">
            <i class="fa-sharp fa-solid fa-lock pt-3"></i>
            <input type="password" class="form-control ms-3 new_password2" placeholder="confirma la contrasena">
            </div>-->
            {{form|crispy}}
          </div>
          <div class="row">
            <div class="col-12">
              <a href="{% url 'login' %}"><button  type="submit" class="btn btn-success btn-block" name="password_reset_confirm">Cambiar contraseña</button></a>
            </div>
          </div>
          <div>
            <ul class="btn rounded-fill text-center" onclick="toggleDarkMode()" ><i class="fa fa-moon"></i><span class="ms-1 d-none d-sm-inline">Modo Nocturno</span></ul>
          </div>
        </form>
      {% else %}
          <p>el link esta incorrecto, provee un nuevo link para cambiar la contrasena</p>
      {% endif %}
    </div>
        <a href="{% url 'login' %}">Login</a>
        <ul class="btn rounded-fill text-center" onclick="showPassword(password)"><span class="ms-1 d-none d-sm-inline">Mostrar Contraseña</span></ul></p>
    </div>
  </div>
  </div>
</div>
</body>
<script src="https://kit.fontawesome.com/5ac4c3813c.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{% include 'partials/footer.html' %}